.punish-sheet__container_info {
    display: flex;
    flex-direction: column;
    flex-direction: row;
    justify-content: space-between;
    width: 80vw;
    height: auto;
    margin: auto;
    background-color: #283148;
    border: solid 1px #7CA2FF;
}

.punish-sheet__container_info p {
    font-size: 26px;
    font-weight: 600;
    margin-left: 10px;
}

.punish-sheet__navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 26px;
    font-weight: 600;
    width: 80vw;
    height: auto;
    margin: auto;
    border: solid 1px #7CA2FF;
    background-color: black;
}

.punish-sheet__container_info a {
    color: white;
    font-size: 22px;
    margin: 2px;
}