.punish-create__container {
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: auto;
    margin: auto;
    background-color: #283148;
    border: solid 1px #7CA2FF;
    padding: 10px;
}

.punish-create__input label,
.punish-create__input input,
.punish-create__input select {
    font-size: 22px;
    font-weight: 600;
}

.punish-create__input input,
.punish-create__input select {
    color: white;
    background-color: #283148;
    border: #7CA2FF solid 1px;
    width: 100%;
}

.punish-create__container button {
    color: white;
    background-color: #7CA2FF;
    font-size: 22px;
    border: none;
    border-radius: 25px;
    margin-top: 10px;
}

.punish-create__container a {
    border: #7CA2FF solid 1px;
    border-radius: 25px;
    text-align: center;
    font-size: 22px;
    margin-top: 10px;
}