<div class="container">
  <div class="player-sheet__container_img">

  </div>
  <div class="player-sheet__container_personal_info">
    <p>NAME: {{player?.name}}</p>
    <p>JOB: {{player?.job}}</p>
    <p>TITLE: {{player?.title}}</p>
    <div class="player-sheet__container_info">
      <p>LEVEL: {{player?.level}}</p>
    </div>
    <div class="player-sheet__container_exp">
      <p>EXP: {{player?.exp}}</p>
      <div class="experience-bar"></div>
    </div>
  </div>
</div>
<div class="player-sheet__navbar" role="main">
  <a routerLink="/player-sheet">STATUS</a>
  <a routerLink="/quests">QUEST</a>
  <a routerLink="/punish">PUNISHMENT</a>
</div>


<router-outlet></router-outlet>
