<div class="quest-edit__container">
    <h3>QUEST</h3>
    <div class="quest-edit__input">
        <label for="name">Name:</label>
        <input id="name" [(ngModel)]="quest.name" required>
    </div>
    <div class="quest-edit__input">
        <label for="exp">Exp:</label>
        <input id="exp" [(ngModel)]="quest.exp" type="number" required>
    </div>
    <div class="quest-edit__input">
        <label for="status">Status:</label>
        <select id="status" [(ngModel)]="quest.status" required>
            <option value="STR">STR</option>
            <option value="INT">INT</option>
            <option value="AGI">AGI</option>
            <option value="STA">STA</option>
            <option value="WIL">WIL</option>
        </select>
    </div>
    <div class="quest-edit__input">
        <label for="type">Type:</label>
        <select id="type" [(ngModel)]="quest.type" required>
            <option value="UNI">UNI</option>
            <option value="DIS">DIS</option>
            <option value="MIN">MIN</option>
        </select>
    </div>
    <div class="quest-edit__input">
        <label for="amout">Amount:</label>
        <input id="amout" [(ngModel)]="quest.amout" type="number" required>
    </div>
    <div class="quest-edit__input">
        <label for="desc">description:</label>
        <input id="desc" [(ngModel)]="quest.description" type="texfild">
    </div>
    <div>
        <input type="hidden" name="done" id="done" [(ngModel)]="quest.done" value="false">
        <input type="hidden" name="clock" id="clock" [(ngModel)]="quest.clock" value="2024-06-29">
        <input type="hidden" name="player_id" id="player_id" [(ngModel)]="quest.player_id" value="1">
    </div>
    <button (click)="saveQuest()">Save</button>
    <a routerLink="/quests">Cancel</a>
</div>